'scopeName': 'source.maple'
'name': 'Maple'
'fileTypes': ['mpl', 'maple']

'patterns': [
  {
    include: "#comment"
  }
  {
    include: "#keyword"
  }
  {
    include: "#number"
  }
]

repository:
  comment:
    begin: '#'
    end: '\\n'
    name: 'comment.line.hash.maple'

  keyword:
    patterns: [
      {
        match: '\\b(local|global|from|to|break|case|catch|clear|continue|do|od|else|elseif|end|endproc|exit|for|if|then|pause|quit|return|try|while)\\b'
        name: 'keyword.control.maple'
      }
    ]

  number:
    patterns: [
      {
		    match: '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))((E|e)(\\+|-)?[0-9]+)?\\b'
		    name: 'constant.numeric.maple'
      }
      {
		    match: '\\b(Pi|I|infinity)\\b'
		    name: 'support.constant.maple'
      }
    ]
